body {
  margin: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  overflow: hidden;
  height: 100vh;
}

/* Navbar */
.desktop-nav {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.desktop-nav .nav-links {
  display: flex;
  gap: 1.5rem;
}

.desktop-nav .nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.desktop-nav .nav-links a:hover {
  text-decoration: underline;
}


.page-section {
  display: none;
  padding: 20px;
}

.page-section.active {
  display: block;
}

h1, h2 {
  color: #444;
}

h4{
    padding: 0;
    margin: 0;
}

.form-container {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}

input, button, select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  table-layout: fixed;

}

th, td {
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
}
th{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

td{
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

th {
  background-color: #333;
  color: white;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
}

.pagination-container button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-container button:disabled {
    background-color: #777;
    cursor: not-allowed;
}

.ricerca-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    overflow: hidden;
}

.dataLabel{
    font-size: 12px;
    font-weight: bold;
    margin-left: 0.2rem;
}

.labelMod{
    font-size: 12px;
    font-weight: bold;
}

#deleteBtn{
    background: indianred;
}

#deleteBtnCat{
    background: indianred;
}

#deleteBtnUb{
    background: indianred;
}

.stcBtn{
    background: indianred;
}

#updateBtn{
    background: orange;
}

#updateBtnCat{
    background: orange;
}

#updateBtnUb{
    background: orange;
}
#updateBtnMe{
    background: orange;
}

.selected{
     background-color: #cce5ff;
}

.redTr{
    background-color: #f8d7da;
}
.yellowTr{
    background-color: #fff3cd;
}
.purpleTr{
    background-color:#e2d7f8;
    font-weight: bold;
}

.ricercaCat-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    overflow: hidden;
}

.formLabel{
    font-size: 13px;
}

.ricerca-form {
    flex: 0 0 auto;
    overflow-y: auto;
    scrollbar-width: none;
    height: 90vh;
}

.form-cat{
    margin-bottom: 2rem;
}

.tab-cat{
    min-height: 50%;
    margin-bottom: 2rem;
}

.form-ub{
    margin-bottom: 2rem;
}
.form-me{
    margin-bottom: 2rem;
}

.tabellaCat-container {
    flex: 1;
    min-width: 0;
    max-width: 20%;
    max-height: 90vh;
    min-height: 90vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.tabella-container {
    flex: 1 1 auto;
    min-width: 0;
    height: 90vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:9999;
}

.modal.hidden {
  display: none;
}

.modal-content {
    background: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.modOpacity{
    opacity: 0.6;
    pointer-events: none;
    cursor: default;
}

.row {
  display: flex;
  gap: 10px;
  width: 100%;
}

.rowNoWidth{
      display: flex;
      gap: 10px;
}
.row.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.row.label {
  justify-content: center;
  width: 100%;
}


.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}


.toast {
  position: fixed;
  top: 1rem;
  left: 25%;
  max-width: 50vw;
  background-color: #f44336;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast.success {
  background-color: #4caf50;
}

.toast.info {
  background-color: #2196f3;
}

.toast.warning {
  background-color: #ff9800;
}

.graphScroll{
    overflow-y: auto;
    scrollbar-width: none;
    height: 90vh;
    flex: 1;
}

.chart-wrapper {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.marginGraph{
    margin-bottom: 1rem;
}

#chart {
  width: 100%;
  height: 40vh;
}

#chartMerce{
  width: 100%;
  height: 40vh;
}


th {
    cursor: pointer;
    position: relative;
    user-select: none;
}

.sort-indicator {
    font-size: 0.8em;
    margin-left: 4px;
    opacity: 0.6;
}
.reset{
    padding: 2px;
}

th.active .sort-indicator {
    opacity: 1;
    color: #007bff;
}

.cardStc{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

.cardLabel{
    background: #e0e0e0;
    border: 1px solid #ccc;
    font-size: 0.85rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-basis: 85%;
    border-radius: 0.1rem;
    padding: 0.2rem;
}
.cardBtn{
    flex-basis: 15%;
    background: #e0e0e0;
    border: 1px solid #ccc;
    font-size: 0.85rem;
    padding: 0.2rem;
    border-radius: 0.1rem;
}